.clientStatusActive {
  color: #29d362;
}
.clientStatusBlocked {
  color: #b7422e;
}


.eyeline_dialog{

  td {
    padding-bottom: 10px;
  }

  input{
    width: 100%;
  }
  .eyeline_dialog_body{
    padding: 15px 15px 0 15px;
  }
}