.survey_state_not_started {
  color: dodgerblue;
}

.survey_state_in_progress {
  color: limegreen;
}

div.eyeline_inputDate input {
  width: 180px;
}

td > label {
  padding-right: 10px;
}

#newSurveyTitle {
  width: 440px;
}

.eyeline_dialog{
  select{
    width: 444px;
  }
}

