.survey_state_not_started {
  color: dodgerblue;
}

.survey_state_in_progress {
  color: limegreen;
}


td > label {
  padding-right: 10px;
}

#newSurveyTitle {
  width: 440px;
}

.eyeline_dialog{
  td{
    table{
      width: 370px;
    }
  }

}


div.eyeline_inputDate input {
  width: 130px;
}

.eyeline_dialog{
  select{
    width: 250px;
  }
}

