.placeholder {
  font-style: italic;
}

a.modify {
  padding-left: 5px;
  float: right;
}

div.eyeline_inputDate input {
  width: 180px;
}

input.eyeline_inputText_component {
  width: 208px;
}

table.eyeline_list {
  width: 100%;
}

input.txtW {
  width: 100%;
}

.eyeline_addbutton, .eyeline_delbutton {
  float: right
}

tr[class^="eyeline_row"] {
  border: none;
}

tr[class^="eyeline_row"] > td {
  border: none;
}

table.eyeline_list {
  border: none;
}

.hidden {
  display: none;
}