@light: #626262;;

.placeholder {
  font-style: italic;
}

a.modify {
  padding-left: 5px;
  float: right;
}

a.modify-left {
  padding-left: 5px;
  font-style: italic;
  font-weight: lighter;
}

div.eyeline_inputDate input {
  width: 180px;
}

input.eyeline_inputText_component {
  width: 208px;
}

table.eyeline_list {
  width: 100%;
}


input.txtW {
  width: 100%;
}

.eyeline_addbutton, .eyeline_delbutton {
  float: right
}

tr[class^="eyeline_row"] {
  border: none;
}

tr[class^="eyeline_row"] > td {
  border: none;
}

textarea {
  height: auto;
}

table.eyeline_list {
  border: none;
}

.hidden {
  display: none;
}

table.question {
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #C0C0C0;
}

span.option-number {
  padding-right: 5px;
  color: @light;
}


// 308 px is height most acceptable for 11 lines(28*11 = 308)
#scrollableVariants{
  overflow: auto;
  max-height: 308px;

}
#headerBlock{
  height: 20px;
  td{
    text-align: center;
  }
}

.lastColumn{
  width: 10%;
}


table#questionOptions th {
  padding: 0;
  height: auto;
  display: none;
  background-color: inherit;
  font-weight: inherit;
}

.option-label {
  font-style: italic;
  padding-left: 5px;
}

.settings-left {
  width: 15%
}

.settings-right {
  font-weight: bolder;
}

div[class^="eyeline_collapsingGroupHeader"] {
  margin-bottom: 3px;
}

.endTextInput {
  width: 50%
}

#title.validationError {
  width: 90%
}

div[id$="segmentation"] {
  width: 200px;
  float: right;
  color: @light;
}

.columnOptionsList, .columnSegmentation {
  vertical-align: top;
}

table.table-narrow > tbody > tr > td + td + td + td + td {
  width: 5%;
}

tr#questionOptions_newrow > td + td + td + td + td {
  width: 5%;
}

//td.questionDialogCol {
//  width: 17%;
//}

#headerBlock {
  .questionColDrag {
    width: 23px
  }

  .questionColId {
    display: none;
  }

  .questionColTitle {
    width: 427px;
  }

  .questionColNext {
    width: 178px;
    text-align: center;
  }
}

#scrollableVariants {
  .answerColumn {
    width: 370px;
  }

  .nextColumn {
    width: 150px;

    select {
      width: 100%;
    }
  }
}

th.questionDialogCol {
  padding-left: 9px !important;
}

td.questionDialogCol > select {
  width: 100%;
  margin-left: 5px;
}

.eyeline_delbutton, .eyeline_addbutton {
  margin-left: 10px;
}


#questionOptions_newrow > td:first-child {
  width: 20px;
}

.previewLeft {
  width: 100%;
}

textarea#title {
  resize: vertical;
}

#newSurveyTitle {
  width: 440px;
}

#dates {
  width: 400px;
}

div.eyeline_inputDate input {
  width: 130px;
}

#settingsDialog {
  select {
    width: 250px;
  }
}

#newAccessNumber {
  width: 150px;
}

.page-body {
  // 16 px (typical margin-top for collapsing groups) - 5px (footer of page body)
  margin-bottom: 11px;
}

#endMessageDialog {
  .eyeline_inputText_component {
    box-sizing: border-box;
    width: 400px;
    height: 19px;
  }

  .eyeline_textarea_component {
    box-sizing: border-box;
    width: 400px;
    max-width: 400px;
  }

  #endSmsEnabled, #couponEnabled, #couponFormat, #couponLength {
    margin-left: 0;
  }

  td.none table td {
    padding-left: 0;
  }

  #couponHint {
    font-style: italic;
  }

  #endSmsEnabled, #couponFormat {
    width: 220px;
  }

  select {
    box-sizing: border-box;
    height: 19px;
  }
}

.noCouponsError {
  color: RED;
}

#tabs {
  div.ui-tabs-panel {
    padding-left: 0;
    padding-right: 0;
  }

  li.ui-state-default {
    border: 0;
    position: inherit;

    a {
      margin-right: 0;
    }
  }
}

#tabs > div {
  display: none;
}