@light: #626262;;

.placeholder {
  font-style: italic;
}

a.modify {
  padding-left: 5px;
  float: right;
}

a.modify-left {
  padding-left: 5px;
  font-style: italic;
  font-weight: lighter;
}

div.eyeline_inputDate input {
  width: 180px;
}

input.eyeline_inputText_component {
  width: 208px;
}

table.eyeline_list {
  width: 100%;
}

input.txtW {
  width: 100%;
}

.eyeline_addbutton, .eyeline_delbutton {
  float: right
}

tr[class^="eyeline_row"] {
  border: none;
}

tr[class^="eyeline_row"] > td {
  border: none;
}

textarea {
  height: auto;
}

table.eyeline_list {
  border: none;
}

.hidden {
  display: none;
}

table.question {
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #C0C0C0;
}

span.option-number {
  padding-right: 5px;
  color: @light;
}

table#questionOptions th {
  padding: 0;
  height: auto;
  background-color: inherit;
  font-weight: inherit;
}

.terminal-label {
  font-style: italic;
  padding-left: 5px;
}

.settings-left {
  width: 15%
}

.settings-right {
  font-weight: bolder;
}

div[class^="eyeline_collapsingGroupHeader"] {
  margin-bottom: 3px;
}

.endTextInput {
  width: 50%
}

#title.validationError {
  width: 90%
}

div[id$="segmentation"] {
  width: 200px;
  float: right;
  color: @light;
}

.columnOptionsList, .columnSegmentation {
  vertical-align: top;
}