<?xml version="1.0"?>

<config>

  <section name="mail">

    <param name="smtp.host" type="string">max.sibinco.ru</param>
    <param name="smtp.port" type="int">25</param>
    <param name="smtp.username" type="string">user</param>
    <param name="smtp.password" type="string">password</param>

    <param name="from" type="string">ips@ips.eyeline.mobi</param>
    <!--<param name="login.url" type="string">http://localhost:8080</param>-->
    <param name="login.url" type="string">http://localhost:39932</param>

  </section>

  <section name="database">
    <param name="hibernate.connection.driver_class" type="string">com.mysql.jdbc.Driver</param>

    <!-- Shared test DB. -->

    <param name="hibernate.connection.url" type="string">jdbc:mysql://localhost/ips_migration_test?useUnicode=true&amp;characterEncoding=UTF-8</param>
    <param name="hibernate.connection.username" type="string">user</param>
    <param name="hibernate.connection.password" type="string">password</param>

    <!-- Local DB. -->

    <!--<param name="hibernate.connection.url" type="string">jdbc:mysql://localhost/ips?useUnicode=true&amp;characterEncoding=UTF-8</param>
    <param name="hibernate.connection.username" type="string">ips</param>
    <param name="hibernate.connection.password" type="string">bagel</param>-->

    <!-- Nedenzel local DB. -->
    <!--<param name="hibernate.connection.url" type="string">jdbc:mysql://192.168.3.130/my_ips?useUnicode=true&amp;characterEncoding=UTF-8</param>-->
    <!--<param name="hibernate.connection.username" type="string">root</param>-->
    <!--<param name="hibernate.connection.password" type="string">root</param>-->

    <!-- Pool settings.-->

    <param name="hibernate.c3p0.timeout">300</param>
    <param name="hibernate.c3p0.max_statements">50</param>
    <param name="hibernate.c3p0.idle_test_period">3000</param>

    <param name="hibernate.c3p0.preferredTestQuery">SELECT 1</param>
    <param name="hibernate.c3p0.testConnectionOnCheckout">true</param>
  </section>

  <section name="madv">
    <param name="update.enabled" type="boolean">true</param>
    <param name="update.delay.minutes" type="int">15</param>
    <param name="url" type="string">http://localhost:9080/services/campaigns</param>
    <param name="login" type="string">user@ussd.mobi</param>
    <param name="password" type="string">password</param>
  </section>

  <section name="sads">
    <param name="push.url" type="string">http://localhost/demo/push?service=eyeline.rcsilv</param>
    <param name="max.sessions" type="int">4</param>
  </section>

  <section name="ui">
    <param name="skin.default" type="string">araks</param>
  </section>
</config>