#loginForm , #passwRecoveryForm {
  width: 290px;
  height: 164px;
  font-size: 13px;
  color: #000000;
  margin: 200px auto;
}

#loginFormBody, #passwRecoveryFormBody {
  padding: 20px;
  background-color: #ffffff;

  table {
    padding-bottom: 10px;

    td {
      padding-bottom: 10px;
    }
  }
}
  #passwRecoveryFormBody{
    padding:10px 20px 20px 20px;
  }