#profilePage  {
  width: 400px;
  font-size: 13px;
  color: #000000;
  margin: 50px auto;
}

#profilePageBody {
  padding: 10px 25px 5px 20px;

  .eyeline_collapsingGroupBody {
    margin-left: 0px;
  }
  td {
    padding-bottom: 10px;
  }
  .eyeline_buttons {
    td {
      padding-bottom: 0px;
    }
  }

  input.eyeline_inputText_component {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 20px;
  }

  select {
    margin-left: 0px;
  }
}

.col1 {
  width: 40%;
}

a.modify-left {
  padding-left: 5px;
  font-style: italic;
  font-weight: lighter;
}
