#profilePage  {
  width: 400px;
  font-size: 13px;
  color: #000000;
  margin: 50px auto;
}

#profilePageBody{
  padding:10px 25px 5px 20px;

  td {
    padding-bottom: 10px;
  }
  .eyeline_buttons{
    td {
      padding-bottom: 0px;
    }
  }

  input{
    width: 100%;
  }
}

.col1 {
  width: 40%;
}

