svg.eyeline_tree {
  overflow: hidden;
  background-color: white;
  cursor: pointer;

  .node rect {
    stroke: #cacaca;
    stroke-width: 1px;
    fill: #fff;
  }

  .edgeLabel rect {
    fill: #fff;
  }

  .edgePath {
    stroke: #cacaca;
    stroke-width: 1px;
    fill: none;
  }
}
