@import "../../../styles/main-menu.css";

/* Стили главного меню */

.ipsLogo {
    /*width: 70px;*/
    /*height: 70px;*/
    /*background: url(../images/logo_mobak.png);*/
    background-size: auto 70px;
    margin-right: 20px;
}

.menuTitle {
  background-color: #78a0bb;
  background-image: none;

  font-family: Georgia, serif;
}
.exitButton {
  font-family: Georgia, serif;
}

.menuButtons {
  background-color: #ffffff;
  border-bottom: 1px solid #999999;
}
.menuButton {
  font-family: Georgia, serif;
  color: #78a0bb;
  font-weight: normal;
}
.menuButtonSelected {
  background-color: #eeeeee;
  font-family: Georgia, serif;
  color: #78a0bb;
  font-weight: normal;
}
